extends layout

block content
  if isLoggedIn
    div(class="container-fluid")
      div(class="row section section-0")
        div(class="col")
          h1 Listed | Drafts

    div(class="container-fluid")
      div(class="row section")
          div(class="card-deck col-sm" style="text-align: center")
            div(class="card" style = {'box-shadow': '0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)',
        'transition': 'all 0.3s cubic-bezier(.25,.8,.25,1)','margin-bottom':'30px','padding':'25px'},
        onmouseover='this.style.boxShadow = "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)"',
        onmouseout='this.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)"'
        )
              img(class="card-img-top" src="images/img_avatar3.png" style="width: 100%")
              div(class="card-block")
                  button(class="btn add-property mt-2" style="color: white; position: static") +
            each user in users    
              div(class="card" style = {'box-shadow': '0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)',
          'transition': 'all 0.3s cubic-bezier(.25,.8,.25,1)','margin-bottom':'30px','padding':'25px'},
          onmouseover='this.style.boxShadow = "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)"',
          onmouseout='this.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)"'
          )
                img(class="card-img-top" src="images/img_avatar3.png" style={'width': '100%'})
                div(class="card-block")
                    h4(class="card-title mt-3")= user.firstname

  else 
    div(class="container-fluid")
      div(class="row jumbotron jumbotron-fluid")
        div(class="col")
          h1(class="display-4") Stop wasting time <br> on property <br> listings
        

    div(class="container-fluid pt-4")
      div(class="row section section-1")
        div(class="col-sm")       
          h2(class="mb-3") Simultaneously list your property <br> on all platforms
          button(type="button" class="btn btn-primary d-block" style="margin: auto" data-toggle="modal" data-target="#signUpModal") sign up for free
          button(type="button" class="btn btn-link d-block" style="margin: auto" data-toggle="modal" data-target="#pricingModal") pricing

          p(class="fa fa-angle-down display-4")

    div(class="container-fluid section-2 py-4")
      div(class="row section ")
        div(class="col-sm")
          h4 FEATURES
      div(class="row section")
        div(class="col-sm")
          img(class="mb-2" src="/images/list.png" alt="")
          p(class="mb-1") Property Summary
          p(style="font-size: .75em") Automatically generate a beautifully written summary for your property.
        div(class="col-sm")
          img(class="mb-2" src="/images/post.png" alt="")
          p(class="mb-1") Multi Posting
          p(style="font-size: .75em") Enter your property information once, and publish it on all the places you want.
        div(class="col-sm")
          img(class="mb-2" src="/images/view.png" alt="")
          p(class="mb-1") Boost Viewership
          p(style="font-size: .75em") Advertise your listings on social medias and google to increase leads.


    div(class="container-fluid section-3 py-3")
      div(class="row section")
        div(class="col-sm")
          h3(class="mb-3")  “I've been searching for a proper and efficient <br> way to list properties for a long time! I would <br> definitely recommend juu.io to agents eager to <br> increase their conversion rates."
          img(src="/images/agent1.png" style="border-radius: 50%" width="75" height="75" alt="")
          p(style="font-size: .8em") Phoebe Kho
          p(style="font-size: .6em") Real Estate Agent



    div(class="container-fluid section-4 py-3")
      div(class="row section")
        div(class="col-sm")
          h1 How to use juu.io

      div(class="row section section-4-1")
        div(class="col-sm")
          <h4> <span style="color: #3F87C5; font-size: 1.5em"> Step 1 </span> Post a property listing </h4>
          p It’s free and easy to create listings on juu.io. Just fill in the information then we automatically publish it to all websites you choose!

        div(class="col-sm")
          img(class="index-image" src="/images/step1.jpg" width="300" alt="")

      div(class="row section")
        div(class="col-sm")
          img(class="index-image" src="/images/step2.jpg" width="300" alt="")
        div(class="col-sm")
          <h4> <span style="color: #3F87C5; font-size: 1.5em"span> Step 2 </span> Chill & receive inquiry </h4>
          p Just sit back, relax, and have a cup of coffee while you wait and receive enquiries. 

      div(class="row section section-4-1")
        div(class="col-sm")
          <h4> <span style="color: #3F87C5; font-size: 1.5em"> Step 3 </span> Seal the deals easily</h4>
          p We bring you so much more leads that you will find the right buyer or renter in no time!

        div(class="col-sm")
          img(class="index-image" src="/images/step3.jpg" alt="")