doctype html
html
  head
    title= title

    //meta data
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //css
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    link(rel='stylesheet' href='/stylesheets/style.css')

    //javascripts
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")
    script(src="/javascripts/scripts.js")

    //Other Pages misc
    block misc

  body
    //navbar
    nav(class="navbar navbar-expand-md fixed-top navbar-light bg-none px-sm-4 px-0 pr-2")
      button(id="container" class="navbar-toggler pr-0 ml-0 pl-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="border-style:none")
        span(class="navbar-brand pointer mr-0")
          img(class="mr-1 nav-logo-white" src="/images/juu_logo_white.png" width="33" height="44.5" alt="")
          img(class="mr-1 nav-logo-black" src="/images/juu_logo_black.png" width="33" height="44.5" alt="")
          span(id="icon" class="fa fa-angle-down pr-0 mr-0")

      //buttons that are shown in mobile and not collapsed
      ul(class="navbar-nav d-inline d-md-none")
        if isLoggedIn
          div(class="input-group d-inline-flex d-md-none-flex pr-sm-3 pr-1")
            input(type="text" class="form-control nav-search" id="nav-search" aria-describedby="nav search" placeholder="Search for...")
            span(class="input-group-btn")
              button(class="btn btn-primary" type="button") <i class="fa fa-search"></i>

        else
          li(class="nav-item d-inline")
            button(type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#signUpModal") Sign Up
          li(class="nav-item d-inline mr-sm-3")
            button(type="button" class="btn btn-outline-primary m-1" data-toggle="modal" data-target="#logInModal") Log In

      //navbar that collapses or hidden in mobile
      div(class="collapse navbar-collapse d-md-flex" id="collapsibleNavbar")
        a(class="navbar-brand d-none d-md-block " href="/")
          img(class="mx-1 nav-logo-white ml-3" src="/images/juu_logo_white.png" width="33" height="44.5" alt="")
          img(class="mx-1 nav-logo-black ml-3" src="/images/juu_logo_black.png" width="33" height="44.5" alt="")
        if isLoggedIn
          div(class="input-group d-none d-md-inline-flex mr-auto col-lg-6")
            input(type="text" class="form-control" id="nav-search" aria-describedby="nav search" placeholder="Search for...")
            span(class="input-group-btn")
              button(class="btn btn-primary" type="button") <i class="fa fa-search"></i>

        //shown in non mobile - will collapse when mobile
        ul(class="navbar-nav vertical ml-auto")
          li(class="nav-item")
            br(class="d-inline d-md-none") 

          li(class="nav-item ml-3 ml-sm-0 d-inline-block")
            button(type="button" class="btn btn-link m-1 btn-mob" data-toggle="modal" data-target="#settingsModal") Settings
          if isLoggedIn
            li(class="nav-item ml-3 ml-sm-0 d-inline-block")
              button(type="button" class="btn btn-link m-1 btn-mob" data-toggle="modal" data-target="#helpModal") Help 
            li(class="nav-item dropdown d-none d-md-inline-block ml-3 ml-sm-0")
              button(type="button" class="btn btn-link m-1 btn-mob" data-toggle="dropdown" ) Signed in as #{user.firstname} 
              ul.dropdown-menu
                li(class="nav-item")
                  button(type="button" class="btn btn-link m-1" data-toggle="modal" data-target="#userProfileModal") User Profile
                li(class="nav-item")
                  a(role="button" class="btn btn-link m-1" href="/logout") Log Out
            li(class="nav-item ml-3 ml-sm-0 d-inline-block")
              button(type="button" class="btn btn-link m-1 btn-mob d-md-none" data-toggle="modal" data-target="#userProfileModal") User Profile
            li(class="nav-item ml-3 ml-sm-0 d-inline-block")
              a(role="button" class="btn m-1 btn-mob d-md-none" href="/logout") Log Out
            
        //hidden in mobile view
        ul(class="navbar-nav mr-2")
          if isLoggedIn

          else
            li(class="nav-item")
              button(type="button" class="btn btn-primary m-1 d-none d-md-block" data-toggle="modal" data-target="#signUpModal") Sign Up
            li(class="nav-item")
              button(type="button" class="btn btn-outline-primary m-1 d-none d-md-block" data-toggle="modal" data-target="#logInModal") Log In




    //Sign Up Modal
    div(class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModal" aria-hidden="true")
      div(class="modal-dialog h-100 d-flex flex-column justify-content-center my-0" role="document")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(class="pointer" aria-hidden="true") &times
          div(class="modal-body" style="text-align:center")
            a(role="button" class="btn btn-primary btn-lg btn-block" href="/facebook") sign up with facebook
            hr(class="hr-text" data-content="or")
            button(type="button" class="btn btn-outline-primary btn-lg btn-block" onclick="$('#signUpModal').one('hidden.bs.modal', function() { $('#signUpEmailModal').modal('show'); }).modal('hide');") sign up with email
            hr(class="hr-text")
            span Already have an account? <br>
            button(type="button" class="btn btn-link" onclick="$('#signUpModal').one('hidden.bs.modal', function() { $('#logInModal').modal('show'); }).modal('hide');") log in


    //Email Sign Up modal
    div(class="modal fade" id="signUpEmailModal" tabindex="-1" role="dialog" aria-labelledby="signUpEmailModal" aria-hidden="true")
      div(class="modal-dialog d-flex flex-column justify-content-center my-0" role="document")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(class="pointer" aria-hidden="true") &times
          div(class="modal-body" style="text-align:center")
            span Sign up with <a href="/facebook">facebook</a>
            hr(class="hr-text" data-content="or")
            form(method='POST' action='/emailsignup')
              div(class="form-group")
                input(type="text" class="form-control" id="firstname" placeholder="First Name" name='firstname' pattern="[A-Za-z]+" title="Firstname should only contain uppercase or lowercase letters. e.g. John" required)
              div(class="form-group")
                input(type="text" class="form-control" id="lastname" placeholder="Last Name" name='lastname' pattern="[A-Za-z]+" title="Lastname should only contain uppercase or lowercase letters. e.g. Cena" required)
              div(class="form-group")
                input(type="email" class="form-control" id="email" placeholder="Enter Email" name='email' required)
              div(class="form-group")
                input(type="password" class="form-control" id="password" placeholder="Password" name='password' pattern=".{8,}" title="Password should contain 8 characters minimum" required)            
              button(type="submit" class="btn btn-primary btn-lg btn-block") sign up
            span I have read and agree with the following <br> <button(type="button" class="btn btn-link" onclick="$('#signUpEmailModal').one('hidden.bs.modal', function() { $('#termsAndConditionsModal').modal('show'); }).modal('hide');">terms and conditions</button>
            
            hr(class="hr-text")
            span Already have an account?
            button(type="button" class="btn btn-link align-baseline" style="margin: 0; padding: 0 10px" onclick="$('#signUpEmailModal').one('hidden.bs.modal', function() { $('#logInModal').modal('show'); }).modal('hide');") log in

    //Log In modal
    div(class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="logInModal" aria-hidden="true")
      div(class="modal-dialog h-100 d-flex flex-column justify-content-center my-0" role="document")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(class="pointer" aria-hidden="true") &times
          div(class="modal-body" style="text-align:center")
            a(role="button" class="btn btn-primary btn-lg btn-block" href="/facebook") log in with facebook
            hr(class="hr-text" data-content="or")
            button(type="button" class="btn btn-outline-primary btn-lg btn-block" onclick="$('#logInModal').one('hidden.bs.modal', function() { $('#logInEmailModal').modal('show'); }).modal('hide');") log in with email            
            hr(class="hr-text")
            span Don't have an account? <br>
            button(type="button" class="btn btn-link" onclick="$('#logInModal').one('hidden.bs.modal', function() { $('#signUpModal').modal('show'); }).modal('hide');") sign up

    //Email Log In modal
    div(class="modal fade" id="logInEmailModal" tabindex="-1" role="dialog" aria-labelledby="logInEmailModal" aria-hidden="true")
      div(class="modal-dialog d-flex flex-column justify-content-center my-0" role="document")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(class="pointer" aria-hidden="true") &times
          div(class="modal-body" style="text-align:center")
            h4 Log In
            br            
            form(method='POST' action='/emaillogin')
              div(class="form-group")
                input(type="email" class="form-control" id="email" placeholder="Enter email" name="email" required)
              div(class="form-group")
                input(type="password" class="form-control" id="password" placeholder="Password" name="password" required)
              button(type="submit" class="btn btn-primary btn-lg btn-block") log in
            button(type="button" class="btn btn-link" onclick="$('#logInEmailModal').one('hidden.bs.modal', function() { $('#forgotYourPasswordModal').modal('show'); }).modal('hide');") forgot your password?
            
            hr(class="hr-text" data-content="or")
            a(role="button" class="btn btn-outline-primary btn-lg btn-block" href="/facebook") log in with facebook
            hr(class="hr-text")
            span Don't have an account?
            button(type="button" class="btn btn-link align-baseline" style="margin: 0; padding: 0 10px" onclick="$('#logInEmailModal').one('hidden.bs.modal', function() { $('#signUpModal').modal('show'); }).modal('hide');") sign up

    //Settings modal
    div(class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModal" aria-hidden="true")
      div(class="modal-dialog h-100 d-flex flex-column justify-content-center my-0" role="document")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(class="pointer" aria-hidden="true") &times
          div(class="modal-body" style="text-align:center")
            h4(style="color:#007bff") Settings
            br
            form(method='POST' action='/language')            
              div(class="form-group")
                  select(class="form-control" id="language")
                    option English               
                    option 中文
            form(method='POST' action='/currency')            
              div(class="form-group")
                  select(class="form-control" id="currency")
                    option USD               
                    option HKD
                    option NTD

    //help modal
    div(class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true")
      div(class="modal-dialog h-100 d-flex flex-column justify-content-center my-0" role="document")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(class="pointer" aria-hidden="true") &times
          div(class="modal-body" style="text-align:center")
            h4(style="color:#007bff") Help
            br
            p This is going to be the help section. There may be a search function to query out FAQ articles that answer questions customers may have. Maybe there could also be live chat here.

    //user profile modal
    div(class="modal fade" id="userProfileModal" tabindex="-1" role="dialog" aria-labelledby="userProfileModalLabel" aria-hidden="true")
      div(class="modal-dialog h-100 d-flex flex-column justify-content-center my-0" role="document")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(class="pointer" aria-hidden="true") &times
          div(class="modal-body" style="text-align:center")
            h4(style="color:#007bff") User Profile
            br

    //forgot your password modal
    div(class="modal fade" id="forgotYourPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotYourPasswordModal" aria-hidden="true")
      div(class="modal-dialog h-100 d-flex flex-column justify-content-center my-0" role="document")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(class="pointer" aria-hidden="true") &times
          div(class="modal-body" style="text-align:center")
            h4(style="color:#007bff") Forgot Your Password
            br

    //Reset your password modal
    div(class="modal fade" id="resetYourPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetYourPasswordModal" aria-hidden="true")
      div(class="modal-dialog h-100 d-flex flex-column justify-content-center my-0" role="document")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(class="pointer" aria-hidden="true") &times
          div(class="modal-body" style="text-align:center")
            h4(style="color:#007bff") Reset Your Password
            br

    //terms and conditions modal
    div(class="modal fade" id="termsAndConditionsModal" tabindex="-1" role="dialog" aria-labelledby="termsAndConditionsModal" aria-hidden="true")
      div(class="modal-dialog h-100 d-flex flex-column justify-content-center my-0" role="document")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(class="pointer" aria-hidden="true") &times
          div(class="modal-body" style="text-align:center")
            h4(style="color:#007bff") Terms and Conditions
            br

  //the flash messages
  if (messages) 
    if (messages.success)
        div.alert.alert-success.alert-dismissable.fade.show= messages.success
          button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            span(class="pointer" aria-hidden="true") &times

    else 
      - for (var x = 0; x < Object.keys(messages).length; x++)
        div.alert.alert-danger.alert-dismissable.fade.show= messages[Object.keys(messages)[x]]    
          button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            span(class="pointer" aria-hidden="true") &times

    //Other Pages Content
    block content

    

